#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.final-div {
  display: grid;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 1rem 2rem;
  /* transition: all 0.5s ease; */
  opacity: 1;
  margin-bottom: 2rem;
}
.headerImage {
  display: grid;
  max-width: 4rem;
  display: grid;
  align-self: center;
  filter: invert(100%);
  cursor: pointer;
  /* transition: all 0.9s ease;
  transform: rotate(90deg); */
}
.headerImage:hover {
  /* transform: scale(1.2); */
  /* transform: rotateY(180deg); */
}
.headerTitle {
  display: grid;
  align-self: center;
  justify-self: right;
  font-size: 1rem;
}

.intro_sub_title {
  display: grid;
  justify-content: center;
  /* border-bottom: #f9f9f9; */
  border-bottom: 1px solid;
}

.intro_title {
  display: grid;
  justify-content: center;
}

/* Remove flex styles from .map-div to avoid conflict */
body,
.map-div {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* .keyContainer */
.keyContainer {
  position: absolute;
  top: 10px; /* Distance from the top */
  left: 50%; /* Move to horizontal center */
  transform: translateX(-50%); /* Center it exactly */
  background: linear-gradient(45deg, #90ee90, #00bfff);
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.5), 0 0 15px 5px rgba(0, 255, 255, 0.3);
  animation: shineEffect 1.5s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 200vw;
  word-wrap: break-word;
}

/* Optional: style for the key image */
.keyContainer {
  width: 270px;
  /* width: 50px; Size of the key image */
  /* height: auto; */
  /* margin-right: 1px; Space between the image and text */
}

/* Shine animation */
@keyframes shineEffect {
  0% {
    box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.5), 0 0 15px 5px rgba(0, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.8), 0 0 30px 10px rgba(0, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.5), 0 0 15px 5px rgba(0, 255, 255, 0.3);
  }
}
